img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
}

#text {

    font-size: 18px;
}

.container{

      position: relative;

}

.textStyle {
    font-family: "Arial Black", Gadget, sans-serif;
    position: absolute;
    bottom: 1px;
    font-size: 20px;
    color: gray;
    mix-blend-mode: difference;
}

body {
    background-color: black;
}