@font-face {
    font-family: "CooperHewitt";
    src: url('/data/CooperHewitt/CooperHewitt-Book.eot');
    src: url('/data/CooperHewitt/CooperHewitt-Book.svg') format('svg'),url('/data/CooperHewitt/CooperHewitt-Book.woff') format('woff');
}

* {
    font-family: "CooperHewitt", Arial, sans-serif;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
}

.container{

      position: relative;

}

.textStyle {
    /* font-family: "Arial Black", Gadget, sans-serif; */
    position: absolute;
    bottom: 1px;
    font-size: 20px;
    color: gray;
    mix-blend-mode: difference;
}

body {
    background-color: black;
}

